/*Modifica todo o BODY do site*/
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: #DDFEDA;
    font-family: "Gabarito", sans-serif;
    font-size: 18px;
    line-height: 1.3;
}

/*Modifica apenas a imagem*/
.Perfil img{
    width: 100px;
    border-radius: 100px;
}

/*Modifica todas as div com a class container*/
.container{
    width: 334px;
    margin: 0 auto;
}

/*Modifica todo o header*/
header{
    padding: 30px 0;
}

/*Modifica apenas o titulo no header*/
header h1{
    font-size: 20px;
    font-weight: 700;
}

/*Modifica todo o header com a class container*/
header .container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;
}

/*Modifica todo os links*/
.links{
    display: flex;
    flex-direction: column;
    gap: 15px;
   
}


.links a{
    font-weight: 700px;
    text-decoration: none;
    color: #000;
    text-align: center;
    border: 2px solid;
    border-radius: 40px;
    padding: 10px;
    background-color: rgb(80, 211, 255);
    -webkit-box-shadow: 8px 8px 0px 0px #000000; 
    box-shadow: 8px 8px 0px 0px #000000;
}

.links a:hover{
    transform: translatey(-5px);
}

footer{
    text-align: center;
    padding: 40px;
}